$text-color-main: #fff;
$color-success: #67c583;
$color-danger: #db6666;
$input-bg: #ffe6e6;
$input-text-color: #000;
$campaign-bg-color: rgba(14,134,212,0.7);
$campaign-shadow: rgba(35, 30, 203, 0.2);
$campaign-border-color: rgba(52, 90, 168, 0.5);
